/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */
.item img {
  width: 100%
}

#stay {
  display: flex;
  justify-content: center;
  padding: 0 15%;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 14px; 
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
.item-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  display: flex;
  padding-right: 100px;
  font-weight: bold;
  text-align: left;
}

form select,
form input {
  margin-bottom: 20px;
  width: 50%;
}

form select {
  height: 30px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 72px;
}

/* -------  Media Query ------- */
@media all and (min-width: 940px) {
  
  #stay {
    padding-top: 15px;
  }

  .group {
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: center;*/
  }

  .group-stay {
    flex-direction: column;
  }

  .item-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  form {
    display: flex;
    flex-wrap: nowrap;
  }
  form label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
    ;
  }

  form input,
  form select {
    width: 100%;
    font-size: 12px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  
  form select {
    height: 22px;
  }

  form button {
    font-size: 18px;
    padding: 15px 25px;
  }

}

@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px; 
  }
}


@media all and (min-width: 480px)
and (max-width: 940px) {
  .logo {
    display: flex;
    justify-content: center;
    font-family: "Pangolin", cursive;
    font-size: 75px;
    color: #fff;
}

  #stay {
    padding-top: 15px;
  }

  .group {
    display: flex;
    justify-content: flex-start;
  }

  .group-stay {
    flex-direction: column;
  }

  .item-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  form label {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: flex-start;
  }

  form input,
  form select {
    width: 100%;
    font-size: 12px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  
  form select {
    height: 22px;
  }

  form button {
    font-size: 18px;
    padding: 15px 25px;
  }

}

@media all and (max-width: 400px) {
  .logo {
    font-size: 50px;

}
  
  form label {
    padding-right: 0px;
  }

}